---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      {% if post.excerpt != post.content %}
        <a href="{{ site.baseurl }}{{ post.url }}">Devamı</a>
      {% endif %}
    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Önceki</a>
  {% else %}
    <span class="previous">Önceki</span>
  {% endif %}
  <span class="page_number ">Sayfa: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Sonraki</a>
  {% else %}
    <span class="next ">Sonraki</span>
  {% endif %}
</div>
